<br>
<div class="container-fluid ">
    <div id="agenda" style="text-align: left">
        <h3 style="margin-top: -20px">HOME</h3>
        <hr>

        <div id="alunos">
            <h4>
                <label>Nome:</label>
                Cesar Augusto
                <br>
                <label>Email:</label>
                cesar@gmail.com
                <br><br>
                <label>Nome:</label>
                Marcia Oliveira
                <br>
                <label>Email:</label>
                marciaoliveiracx@gmail.com
                <br>
            </h4>
        </div>
    </div>

</div>